.headerContainer{
	background:#871619;
	/*box-shadow: none !important;*/
}
.adminLeftMenu{
	color:#eee;
	.listIcon{
		color:#999 !important;
		min-width:20px !important;
		border:1px solid;
		height:40px;
		width:40px;
		border-radius:40px;
		text-align:center !important;
		margin-right:10px;
		svg{
			margin:9px auto 0 !important;
			color: #999;
			font-size: 18px;
		}
	}
}