.skeletonWrapper{
	margin: 0px auto 20px;
	padding:10px;
	position:relative;
	overflow:hidden; 
}
.skeletonWrapper.light{
	background-color:#eee;
	border-left:2px solid #eee;
}
.skeletonWrapper.dark{
	background-color:#444;
}
.barGraphSkeleton{
	position:relative;
	align-items:center;
	display:flex;
	ul{
		margin:0px auto;
		padding:0px;
		list-style-type:none;
		align-self: end; 
		li{
			display:inline-block;
			margin-right:5px;
		}
	}
}

.shimmerWrapper{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	bottom:0;
	animation: loading 2.0s infinite;
	.shimmer{
		width:70%;
		height:100%;
		background: rgba(255,255,255,0.2);
		/*transform: skewX(-20deg);*/
		box-shadow:0 0 30px 30px rgba(255,255,255,0.05);
	}
}
.dark .shimmer{
	box-shadow:0 0 30px 30px rgba(255,255,255,0.05);
}

@keyframes loading{
	0% { transform: translateX(-150%); }
	50% { transform: translateX(-60%); }
	100% { transform: translateX(150%); }
}

.notesContainerSkeleton{
	width:80%;
	height: 50px;
	display: block;
	background: lightgray;
}

.notesShimer{
	width:80%;
	height: 50px;
	display: block;
	margin-top: 10px;
	background: linear-gradient(	  
		to right,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.5) 50%,
		rgba(255, 255, 255, 0) 80%
	  )
	  lightgray;
	background-repeat: no-repeat;
	background-size: 50px 500px;
	background-position: 0 0;
	animation: shine 1s infinite;
}

.subjectDetailsContents{
	width:30%;
	height: 30px;
	display: block;
	margin-top: 10px;
	background: linear-gradient(	  
		to right,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.5) 50%,
		rgba(255, 255, 255, 0) 80%
	  )
	  lightgray;
	background-repeat: no-repeat;
	background-size: 50px 500px;
	background-position: 0 0;
	animation: shine 1s infinite;
}

.syllabusContents{
	width:80%;
	height: 50px;
	display: block;
	margin-top: 10px;
	background: linear-gradient(	  
		to right,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.5) 50%,
		rgba(255, 255, 255, 0) 80%
	  )
	  lightgray;
	background-repeat: no-repeat;
	background-size: 50px 500px;
	background-position: 0 0;
	animation: shine 1s infinite;
}

.imageContainerSkeleton{
	width:200px;
	height: 160px;
	display: block;
	background: lightgray;       
}



.imageSkeletonLoader {
	width: 100%;
	height: 160px;
	display: block;
	margin-top: -160px;
	background: linear-gradient(	  
		to right,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.5) 50%,
		rgba(255, 255, 255, 0) 80%
	  )
	  lightgray;
	background-repeat: repeat-y;
	background-size: 50px 500px;
	background-position: 0 0;
	animation: shine 1s infinite;	  
  }

  .mediaGalleryListWrapprt{
  	 width: 150px;
  	 display: inline-block;
  	 margin-right: 10px;
  }

  .subjectsListWrapper{
  	 width: 180px;
  	 height: 200px;
  	 display: inline-block;
  	 margin-right: 10px;
  }

  @keyframes shine {	
	to {
	  background-position: 100% 0,
	}
  }

