
@media (max-width:767px){
    
    .gridmenuContainer{
        flex: auto;
        flex-direction:column;
        width: 100%;
        display: block;
    }
}

@media (min-width:768px) {
    .gridmenuContainer{
        flex: auto;
        flex-direction: row;
        width: 100%;
        display: flex;
    }
}


.tableContainer{
    width:80%;
    min-height: 200px;
    margin: 20px auto;
    border: 1px solid black;
    display: block;
    align-items: center;
}

.tableHeadContainer{
    display: flex;
    flex-direction: row;
    flex: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.moreContents{
    color: #666;
    font-weight: normal;
    font-family: 'Chalkboard';
    margin:5% 0% 0% 2.5%;
    line-height: 1.4;
    font-size: 18px;
}

.moreButton{
    display: block;
    padding: 10px;
    color: #000;
    font-weight: bolder;
    border: 1px solid #CCCCCC;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 5px;
    background-color: #F6F6F6;
    transition: all 0.3s ease;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-style: normal;
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
}
.moreButton:hover{
    display: block;
    padding: 10px;
    color: #fff;
    font-weight: bolder;
    border: 1px solid #CCCCCC;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 5px;
    background-color:rgb(5, 78, 100);
    transition: all 0.3s ease;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-style: normal;
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
}

.progressiveBarContainer{
    width:55%;
    height:15px;
    border-radius: 10px;
    background-color:lightgrey;
}
