.profilePageWrapper{
       padding:10px;
      .profileInnerWrapper{
          width:90%;
          margin:auto;
          .bannerWrapper{
            margin:50px auto;
            position: relative;
            display: flex;
            align-items: top;
            width:60%;
            .userDetailsWrapper{
               margin-left: 20px;
            }
            .pointsWalletBoardWrapper{
               margin:10px 0;
               padding:0;
               list-style:none;
               li{
                  display: inline-block;
                  vertical-align:middle;
                  border-right:1px solid #ccc;
                  padding:0 20px;
                  font-weight: bolder;
                  &:last-child{
                     border:none;
                  }
               }
            }
          }
      }

    


}

@media screen and (max-width: 765px){
    .profilePageWrapper{
        padding:5px 0;
        .profileInnerWrapper{
            width: 100%;
            .bannerWrapper{
                width:100%;
                .userDetailsWrapper{
                    margin-left:0;
                    .h4{
                        font-size: 25px !important;
                    }
                    .h6{
                        font-size: 18px !important;
                    }
                }
            }
        }
    }
}
