.popAlertMainWrapper{
 	width: 380px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #fff;
    color:#000;
    z-index: 999999;
    padding: 2em;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 30px 1px rgb(0 0 0 / 20%);
    box-shadow: 0 1px 30px 1px rgb(0 0 0 / 20%);
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .35s cubic-bezier(.215,.61,.355,1);
    transition: all .35s cubic-bezier(.215,.61,.355,1);
    display:none;
	.popAlertWrapper{
		.popBodyWrapper{
			padding:10px;
			font-size:16px;
			a{
				color:#3075f3;
				font-weight:bold;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.cancelBoxWrapper{
			float: right;
		}
	}
	.infoButtonWrapper{
	    border-radius: 50%;
	    width:70px;
	    height:70px;
	    color:#871619;
	}
	.handClapButton{
	  position: relative;
	  outline: 1px solid transparent;
	  border-radius: 50%;
	  border: 1px solid #871619;
	  width: 80px;
	  height:  80px; 
	  background: none;
	  &:after {
	    content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    display: block;
	    border-radius: 50%;
	    width: 80px - 1px;
	    height: 80px - 1px;
	  }
	  &:hover {
	   cursor: pointer;
	   border: 1px solid rgba(39,174,96 ,1);
	   transition: border-color 0.3s ease-in;
	    &:after {
	      animation: shockwave 1s ease-in infinite;
	    } 
	  }
	  svg {
	    width: 40px;
	    fill: none;
	    stroke: #871619;
	    stroke-width: 2px;
	    &.checked {
	      fill: #871619;
	      stroke: #fff;
	      stroke-width: 1px;
	    }
	  }
	}
}
.popAlertMainWrapper.activeWrapper{
	display:block;
}

@media screen and (max-width: 480px){
	.popAlertMainWrapper{
		width:90%;
		right:10px;
	}
}


    