.textField{
	
}
.separatorContainer {
    width: 100%!important;
    border-top: 1px solid #ccc!important;
    height: 0!important;
    text-align: center!important;
    display: inline-block!important;
    margin-top: 50px;
    margin-bottom: 20px;
}
.searchFormWrapper{
    position:relative;
	width:100%;
	.searchResultWrapper{
		height:150px;
		width:100%;
		margin-top:0px;
		background-color:#fff;
		z-index:9999 !important;
		display:block;
		position: absolute;
		overflow:auto;
		ul{
			list-style-type:none;
			padding:0 !important;
			margin:0 !important;
			li{
				border-bottom:1px solid #ccc;
				padding:0px 10px;
			}
		}
	}
}