.fullScreenLoaderContainer,
.fullScreenErroContainerr{
    position: fixed;
    z-index: 9999 !important;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#fff;
    display:flex;
    opacity:.9;
    align-items:center;
    .imageLoaderContainer{
        width:100px;
        margin:auto;
    }
    .errorMessageContainer{
      margin:auto;
      text-align:center;
    }
}

.roundImageContainer{
   overflow: hidden;
}

.carouselImageContainer{
    background-image: url('../../../public/assets/images/SD-home-image.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    padding:0px;
    margin:0px;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    width:100%;
    height: 100%;
    z-index: -1;
     .overlayContainer{
          position: relative;
          width:100%;
          height: 100%;
          background:rgba(0,0,0,0.3);
     }
}
