
.galleryModalWapprt{
   position: fixed;
   top:0;
   bottom: 0;
   left:0;
   right:0;
   width:100%;
   height:100%;
   z-index: 9999999999;
   background: rgba(0,0,0,0.6);
   display: flex;
   align-items: center;
   justify-content: center;
   .galleryFormWrapper{
   	  width:80%;
   	  height: 90vh;
   	  border-radius: 10px;
   	  background: #eee;
   	  overflow: hidden;
   	  position: relative;
   	  .galleryFormHeader{
   	  	 border-bottom:1px solid #ccc;
   	  	 background: #fff;
   	  	 .headerUpperWrapper{
   	  	 	display: flex;
   	  	 	align-items: center;
   	  	 	padding: 10px 10px 0 10px;
   	  	 	.headerUpperLeft{
   	  	 		flex: 1;
   	  	 	}
   	  	 	.headerCenterWrapper{
   	  	 		flex: 1;
   	  	 	}
   	  	 	.headerUpperRight{
   	  	 		flex: 1;
   	  	 		text-align: right;
   	  	 	}
   	  	 }
   	  }
   	  .galleryFormBody{
   	  	height: calc(90vh - 120px);
   	  	overflow: auto;
   	  }
   	  .galleryFormBottom{
   	  	 height: 60px;
   	  	 background: #fff;
   	  	 width: 100%;
   	  	 display: flex;
   	  	 align-items: center;
   	  	 justify-content: right;
   	  	 padding: 10px 20px;
   	  	 border-top:1px solid #ccc;
   	  }
   }
}

.mediaUploadWapper{
	width:70%;
	margin: auto;
	padding: 20px;
	.dropMediaWrapper{
        border:1px solid;
        border-radius: 10px;
        width: 60%;
        margin: 30px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        text-transform: capitalize;
	}
}

.uploadedImageWrapper{
	border:1px solid #ccc;
	background: #fff;
	padding:20px;
	border-radius: 10px;
}
.mediaUploadProgressBarWrapper{
	padding: 10px;
}

.mediaGalleryWrapper{
	display: flex;
	align-items:flex-start;
	flex-wrap: wrap;
	padding:10px;
	.galleryList{
		width: 150px;
		margin-right: 10px;
		text-align: center;
		display: block;
		padding:0 !important;
		vertical-align: top;
		color: #000;
		margin-bottom: 30px;
		.imageWrapper{
			display: flex;
			justify-content: center;
			img{
				max-width: 100%;
				max-height: 80px;
				border-radius: 5px;
			}
		}
		.galleryName{
			padding:10px;
			overflow-wrap: break-word;
		   text-transform: capitalize;
		}
	}
	.galleryActiveList{
		background: #ccc;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	}
}
