.layoutRoot{
  display:flex;
}
.mainContent{
  flex-grow: 1;
}
.layoutToolbar{
  margin-top:60px;
}
.authRootLayoutWrapper,
.paymentRootLayoutWrapper{
  display:flex;
  height:100vh;
  overflow:auto;
}
.otherRootLayout{
  height:100vh;
  width:70%;
  background:#f0f2f5;
  overflow: hidden;
  .otherMainContent{
    flex-grow: 1;
    overflow-y:auto;
    height:90vh;
  }
}

.authLayoutWrapper{
   width:420px;
   margin:auto;
}
.paymentLayoutWrapper{
   width: 70%;
   margin: auto;
}
.basicLayoutRoot{
   display:flex;
   flex-direction:column;
}

@media only screen and (max-width: 800px) {
  .authLayoutWrapper{
     width:100%;
     margin:auto;
  }
  .otherRootLayout{
     width:100%;
  }
  .paymentLayoutWrapper{
     width: 100%;
  }
}
