.homePageWrapper{
	.segmentWrapper{
		height:120px;
        background-image: url('../../../public/assets/images/header-shape.svg');
        margin-top:-120px;
        // background-position:center;
        background-size: cover;
        width:100%;
	}
	.featuresWrapper{
	 	background:#fff;
		padding:40px 0px;
		ul{
			list-style-type:none;
			padding:0;
			margin:0;
			li{
				width: 24%;
			    display: inline-block;
			    margin-right: 10px;
			    vertical-align: top;
			    overflow: hidden;
			    margin: 0px 5px;
			    padding: 60px 30px;
			    background-color: #ffffff;
			    transition: all 0.3s ease;
			    .featureDescriptions{
			    	height: 100px;
			    	font-size:16px !important;
			    	margin-top:10px;
			    }
			    .featureIcon{
			    	width:120px;
			    	height:120px;
			    	border-radius:120px;
			    	text-align:center;
			    	margin-bottom:20px;
			    	display: flex;
			    	align-items:center;
			    	justify-content:center;
			    	background-color:#871619;
			    	.icon{
			    		font-size:80px !important;
			    		color:#fff;
			    	}
			    }
			    &:hover{
			    	webkit-transform: scale(1.1);
				    -ms-transform: scale(1.1);
				    transform: scale(1.1);
				    text-decoration: none;
				    box-shadow: 8px 10px 40px 0px rgba(46,61,73,0.22);
			    }
			    a{
			    	border:1px solid;
			    	display:block;
			    	width:150px;
			    	padding:10px;
			    	border-radius:5px;
			    }
			}
		}
	}
	.testimonialsWrapper{
		padding:120px 0px;
		position:relative;
		display:flex;
		align-items:center;
		justify-content:center;
	}
	.testimonialsInnerWrapper{
		 width:320px;
		 height:450px;
		 position:relative;
		 border-left:4px solid #FFFF00;
		 border-top:4px solid #FFFF00;
		 border-bottom:4px solid #FFFF00;
		 &:before{
		 	content: "";
			width: 315px;
			height: 55px;
			border-right: 4px solid #ffff00;
			position: absolute;
			left: 0;
			bottom:0;
		 }
		&:after{
			content:"";
			width: 315px;
			border-right: 4px solid #ffff00;
			position: absolute;
			height: 55px;
			top:0;
			left:0;
		}
	}

}

@media (max-width: 720px) {
	.homePageWrapper{
		.featuresWrapper{
			padding:40px 0px;
			ul{
				list-style-type:none;
				padding:0;
				margin:0;
				li{
					  text-align: center;
				      width:100%;
				      padding:20px 10px;
				      margin: auto;
				      display:block;
				      .featureDescriptions{
					     height: 90px;
					   }
					   .featureIcon{
					   	  margin:auto;
					   	  width:100px;
			    		  height:100px;
			    		  border-radius:100px;
			    		  .icon{
					    		font-size:60px !important;
					    		color:#fff;
					    	}
					   }
				}
			}
			a{
				 width:100%;
				 margin:auto;
			}
		}
	}
}
