.navigationWrapper{
	display:flex;
	align-items:center;
	ul.authButtonContainer{
		padding:0px;
		margin:0px;
		list-style-type: none;
		display: flex;
		align-items: center;
		li{
			display: inline-block;
			margin-left: 10px;
			a{
				 display: block;
				 padding:10px;
				 text-align: center;
				 border-radius: 5px;
				 width: 100px;
			}
		}
		.activeButton{
			a{
				width:100px;
				padding:20px;
				background:#871619
			};
		}
	}
	ul.mainMenuWrapper{
		list-style-type:none;
		padding:0;
		margin:0;
		display:flex;
		li.classroom{
			a{
				display: flex;
				align-items: center;
			}
		}
		li{
			display:relative;
			a{
				text-align:center;
				display:block;
				width:110px;
				font-size:15px;
				&:hover{
					font-weight:bolder !important;
				}
			}
			.classroomWrapper{
				display:block;
				top:0;
				left:0;
				right:0;
				position: absolute;
				width:80%;
				padding:30px 30px 50px;
				margin-top:-20px;
			    z-index:-1;
			    background:#871619;
			    .subMenuWrapper{
			    	width:80%;
			    	margin:100px auto 0;
			    	display:flex;
			    	position:relative;
			    	.authOnMobileWrapper{
			    		display: none;
			    	}
			    	ul.subMenuListWrapper{
		    			list-style-type:none;
						padding:0 !important;
						margin:0 !important;
						width:170px;
						li{
							display:block !important;
							a{
								width:100%;
								display:block;
								text-align:left;
								color:#ccc;
							}
							&:first-child{
								a{
									color: #f2cb31;
									height:60px;
									font-size:16px;
								}
							}
						}
			    	}
			    }
			}
		}
	}
}

.webViewWrapper{
	display:block;
}
.mobileViewWrapper{
	display:none;
	.cancelMenuOnMobile{
		width:40px;
		height:40px;
		border-radius: 40px;
		cursor: pointer;
		border:1px solid #ccc;
		background: transparent;
		color: #ccc;
		font-size: 16px;
	}
}

@media(max-width:768px){
    .webViewWrapper{
    	display:none;
    }
    .mobileViewWrapper{
    	display:block;
    }
    .menuButtom{
    	color:#ddd;
    	.menuIcon{
    		font-size:40px;
    	}
    }
    .navigationWrapper{
    	ul.mainMenuWrapper{
			li{
				display:none;
				&:nth-child(1){
					display:block;
					a{
						// font-size:0;
						display: none;
					}
				}
				.classroomWrapper{
					padding:20px;
					width:100%;
					height: 110vh;
					.subMenuWrapper{
						width:100%;
						display:block;
						margin:60px 0;
						.authOnMobileWrapper{
							display: block;
							margin-bottom: 20px;
							padding:20px 0px;
							text-align:center;
							border-bottom:1px solid hsla(0, 0%, 100%, .15);
							ul.authButtonWrapper{
								padding:0px;
								margin:0px;
								list-style-type: none;
								display: flex;
								align-items: center;
								li{
									display: inline-block;
									margin-right: 10px;
									a{
										 display: block;
										 padding:10px;
										 text-align: center;
										 border-radius: 5px;
										 width: 100px;
										 color: #fff !important;
										 font-size:16px;
									}
								}
								li.activeButton{
									a{
										width: 100px;
										border:1px solid #ccc;
									}
								}
							}
						}
						ul.subMenuListWrapper{
							width:33%;
							display:inline-block;
							vertical-align:top;
							margin-bottom:30px !important;
							li{
								a{
									font-size:14px;
								}
								&:first-child{
									a{
										height:auto;
										display:block;
										margin-bottom:5px;
									}
								}
							}
						}
					}
				}
			}
		}
    }

}
