.deletePublishMainWrapper{
	padding: 5px;
	position: fixed;
	z-index: 99999 !important;
	width:100%;
	background: #fff;
	margin-top: 2px;
	box-shadow: 0px 15px 10px -15px #111;
	.actionButtonListWrapper{
		padding: 0px;
		margin: 0px;
		list-style-type: none;
		width: 40%;
		margin:auto;
		li{
			display: inline-block;
			padding: 0px 10px;
			.button{
				text-transform: capitalize;
			}
		}
	}
}