.resourceFormModalWrapper{
   position: fixed;
   top:0;
   bottom: 0;
   left:0;
   right:0;
   width:100%;
   height:100%;
   z-index: 9999;
   background: rgba(0,0,0,0.6);
   display: flex;
   align-items: center;
   justify-content: center;
   .resourceFormWrapper{
   	  width:100%;
   	  height: 100vh;
   	  background: #eee;
   	  overflow: hidden;
   	  position: relative;
   	  .resourceFormHeader{
   	  	 border-bottom:1px solid #ccc;
   	  	 background: #fff;
   	  	 .headerUpperWrapper{
   	  	 	display: flex;
   	  	 	align-items: center;
   	  	 	padding: 10px 10px 0 10px;
   	  	 	.headerUpperLeft{
   	  	 		flex: 1;
   	  	 	}
   	  	 	.headerCenterWrapper{
   	  	 		flex: 1;
   	  	 	}
   	  	 	.headerUpperRight{
   	  	 		flex: 1;
   	  	 		text-align: right;
   	  	 	}
   	  	 }
   	  }
   	  .resourceFormBody{
   	  	height: calc(100vh - 110px);;
   	  	overflow: auto;
   	  	padding:0 10px;
   	  	position: relative;
   	  	.resourceFoemBodyOverlay{
   	  		width: 100%;
   	  		height: 100%;
   	  		position: fixed;
   	  		left: 0;
   	  		z-index: 1;
   	  		background: rgba(0,0,0,0.8);
   	  		display: block;
   	  		.cancelInnerFormOverlay{
   	  			right: 0;
   	  			margin-right: 10px;
   	  			margin-top:40px;
   	  			position: absolute;
   	  			.cancelButton{
   	  				background: transparent;
   	  				border: none;
   	  				color:#fff;
   	  				cursor: pointer;
   	  			}
   	  		}
   	  	}
   	  }
   	  .resourceFormBottom{
   	  	 height: 60px;
   	  	 border-top:1px solid #ccc;
   	  	 background: #fff;
   	  	 width: 100%;
   	  	 display: flex;
   	  	 align-items: center;
   	  	 justify-content: right;
   	  	 padding: 10px 20px;
   	  	 position: absolute;
   	  	 z-index: 99;
   	  }
   }
}


.LearningContentRwapper{
	.learningContentFormWrapper{
		overflow: hidden;
		.contentLeftWrapper{
			position: fixed;
			width: 400px;
			z-index: 9 !important;
			margin-top:-10px;
			.innerContentForm{
				margin-top:10px;
				padding: 30px 30px 60px 30px;
				width:100%;
			   height: 70vh;
			   overflow: hidden;
			   background: #fff;
			   border-radius: 10px;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
				.contentCoverImageWrapper{
					height: 220px;
					width:100%;
					background: #eee;
					display: flex;
					justify-content:center;
				}
				.contentCoverImage{
					display: flex;
					// height:300px;
					overflow: hidden;
					img{
						width: 100%;
						max-height: 240px;
					}
				}
			}
		}
		.contentRightWrapper{
			padding: 30px 30px 60px 30px;
			border-radius:10px;
			.contentResourceTypeWrapper{
				display: flex;
				align-items:center;
				.contentResourceTypeLeftWrapper{
					width:150px;
				}
				.contentResourceTypeRightWrapper{
					border-left: 2px solid #ccc;
					padding:0 20px;
				}
			}
			.contentRsourceFormTypeWrapper{
				margin-top: 20px;
				padding:10px;
				border-top:1px solid #ccc;
				.videoUploadFormWrapper{
					 margin-top:10px;
					 .videoResourceListWrapper{
						margin-bottom:20px;
					 	width: 60%;
					 	border:1px solid #fff;
					 	border-radius: 10px;
					 	background: #fff;
						padding: 4px;
					 	.videoResourceHeader{
						 	 display: flex;
						 	 align-items: center;
							 padding: 5px 10px;
						 	 .headerLeft{
						 	 	padding: 10px 20px 10px 0px;
						 	 }
							 .removeVideoResourceWapper{
							 	 border-left: 1px solid #ccc;
							 	 padding-left: 10px;
							 	 button{
							 	 	border: none;
							 	 	background: transparent;
							 	 	cursor: pointer;
							 	 }
							 }
						 }
						 .videoCoverWrapper{
							border-top:1px solid #eee;
							border-bottom:1px solid #eee;
							padding: 10px;
							background: #eee;
							border-radius: 10px;
							.videoCoverListWrapper{
								list-style-type: none;
								padding: 0;
								margin: 0;
								display: flex;
								overflow-y: hidden;
								overflow-x: auto;
								padding: 20px 5px;
								li{
									width: 90px;
									margin-right: 10px;
									.coverButton{
										background: #fff;
										width:80px;
										height: 80px;
										img{
											max-width: 60px;
											max-height: 70px;
										}
									}
									.addCoverButton{
										border:1px solid;
										width:80px;
										height: 80px;
									}
								}
							}
						 }
						 .videoButtonWrapper{
							padding: 10px;
							.contentResourceVideoWapper{
								height: 180px;
								width:100%;
								background: #eee;
								display: flex;
								justify-content:center;
							}
							.contentVideoPlayerWapper{
								border:1px solid;
								width:100%;
								height:180px;
							}
						}
					 }
					
				}
				.imageAudioUpoladFormLayout{
					border: 1px solid #ccc;
					margin-top:10px;
					display: flex;
					align-items: top;
					border-radius: 10px;
					width:89%;
					margin:10px auto;
					.imageAudioUpoladFormLeftLayout{
						.imageUploadWrapper{
							 display: flex;
							 justify-content: center;
						    width: 157px;
						    height: 110px;
							 // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
							 background: #fff;
							 img{
							 	max-width: 140px;
						      max-height: 100px;
							 }
						}
					}
					.imageAudioUpoladFormRightLayout{
						padding: 10px;
						width:100%;
						position: relative;
						.imageAudiRemoveForm{
							 right: 0;
							 margin-right: 10px;
							 position: absolute;
							 button {
							 	background: transparent;
							 	border: none;
							 	cursor: pointer;
							 }
						}
						.audioUploadMainWapper{
							display: flex;
							align-items: center;
							width:100%;
							border-radius: 5px;
							.audioUploadLeftWrapper{
								.audioUploadIcon{
									width: 60px;
									height: 50px;
								}
							}
							.audioUploadRightWrapper{
								width:100%;
								padding-left: 10px;
							}
						}
					}
				}
				.imageAudioUpoladFormLayout.activeLabel{
					background: #fff;
					padding:10px;
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
					border:none;
					width:100%;
					border-radius: 5px;
				}
			}
		}
   }
}

.gamesResourcesContentWrapper{
	 position: relative;
	 .gamesContentFormWrapper{
	 	display: flex;
	 	align-items: top;
		.gamesContentLeftWrapper{
			width: 380px;
			.gamesContentInnerWapper{
				width: 350px;
				margin-top:-8px;
				position: fixed;
				z-index: 9 !important;
				.innerContentForm{
					margin-top:10px;
					padding: 30px 30px 60px 30px;
					width:100%;
				   height: 70vh;
				   overflow: hidden;
				   background: #fff;
				   border-radius: 10px;
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
					.contentCoverImageWrapper{
						height: 220px;
						width:100%;
						background: #eee;
						display: flex;
						justify-content:center;
						border:1px solid;
					}
					.contentCoverImage{
						display: flex;
						overflow: hidden;
						img{
							width: 100%;
							max-height: 240px;
						}
					}
				}
			}
		}
		.gamesContentRightWrapper{
			flex: 1;
			overflow: hidden;
			padding:10px;
			.contentResourceTypeWrapper{
				display: flex;
				align-items:center;
				margin-top:30px;
				padding: 20px;
	 			border-bottom:1px solid #ccc;
				.contentResourceTypeLeftWrapper{
					width:150px;
				}
				.contentResourceTypeRightWrapper{
					border-left: 2px solid #ccc;
					padding:0 20px;
				}
			}
		}
	 }
}

.questionBlockWrapper{
	 margin-top:50px;
	 background: #fff;
	 border-radius: 10px;
	 border:1px solid #ccc;
	 padding: 20px;
	 .questionBlockHeader{
	 	 display: flex;
	 	 align-items: center;
	 	 .headerLeft{
	 	 	padding: 10px 20px 10px 0px;
	 	 }
		 .removeQuestionBlockWapper{
		 	 border-left: 1px solid #ccc;
		 	 padding-left: 10px;
		 	 button{
		 	 	border: none;
		 	 	background: transparent;
		 	 	cursor: pointer;
		 	 }
		 }
	 }
}

.resourceTableWrapper{
	display: flex;
	align-items: top;
	width:100%;
	.tableLeftColumnWrapper{
		background: #fff;
		box-shadow: 1px 0 5px -2px #888;
	}
	.tableRightColumnWrapper{
		 display: flex;
		 overflow-y: hidden;
		 overflow-x: auto;

	}
	
	.tableCellWrapper{
		 border-left: 1px solid #ccc;
		 position: relative;
		 .optionRemoveButtonWrapper{
			 position: absolute;
			 right: 0;
			 border:1px solid #ddd;
			 background: #fff;
			 z-index: 99 !important;
			 button{
				 background: transparent;
				 border: none;
				 cursor: pointer;
				 font-size: 15px;
				 color: #ccc;
				 padding:0 4px;
			 }
		 }

		 .addChoicesButtonWrapper,
		 .addChoicesPropertiesButtonWrapper{
			   border:1px solid;
			   height: 440px;
			   padding:20px;
			   width:150px;
			   text-transform: capitalize;
			   background: #ddd;
			   font-weight: bold;
		 }
		 .addChoicesButtonWrapper{
			height: 440px;
		 }
		 .addChoicesPropertiesButtonWrapper{
			   height: 310px;
		 }
		  .textWrapper{
			 height: 50px;
			 border-top:1px solid #ccc;
			 padding:0px 10px;
			 width:140px;
		 }
		 .tableCell{
			  border-top:1px solid #ddd;
			  border-bottom:1px solid #ddd;
			  width:140px;
			  min-height: 130px;
			  &:last-child{
				   border-top: none;
				   border-right: none;
			  }
		   .tableCellProperties{
			   min-height: 10px;
			   margin-left: 10px;
			   button{
				   border: none;
				   cursor: pointer;
				   font-size: 13px !important;
			   }
		   }
			  .questionImageResource{
				  display: flex;
				  align-items: center;
				  justify-content: center;
				  width: 140px;
				  height: 100px;
				  overflow: hidden;
				  img{
					   max-width: 120px;
					   max-height: 80px;
				  }
				  .audioResourceWrapper{
					  height: 100px;
					  padding-top:10px;
					  position: relative;
					  word-break: break-all;
					  .audioResourceBottomWrapper{
						  position: absolute;
						  bottom: 0;
						  text-align: center;
						  width:100%;
					  }
				  }
			  }
		 }
	}
}

.numberResourceWrapper{
	 padding: 20px;
	 // background: #fff;
	 .numberRangeForm{
	 	background: #fff;
	 	margin-top:20px;
	 	border:1px solid #ccc;
	 	border-radius: 10px;
	 	.numberRangeFormHeader{
		 	 display: flex;
		 	 align-items: center;
		 	 padding:0px 20px;
		 	 .headerLeft{
		 	 	padding: 10px 20px 10px 0px;
		 	 }
			 .removeQuestionBlockWapper{
			 	 border-left: 1px solid #ccc;
			 	 padding-left: 10px;
			 	 button{
			 	 	border: none;
			 	 	background: transparent;
			 	 	cursor: pointer;
			 	 }
			 }
		 }
	 }
	 .numberResourceFormWrapper{
	 	 margin-top: 20px;
	 	 width: 100%;
		 display: flex;
		 border-bottom:1px solid #ccc;
		 padding: 10px;
		 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		 // border-radius: 10px;
		 align-items: top;
		 .leftWrapper{
		 		width: 150px;
		 		height: 140px;
		 		background: #fff;
		 	   border-radius: 10px;
		 	   .numberImageButton{
		 	   	img{
		 	   		max-width: 140px;
		 	   		max-height: 130px;
		 	   	}
		 	   }
		 }
		 .rightWrapper{
		 	 padding: 10px 30px;
		 	 flex: 1;
		 }
	 }
}

.gameSettingsMainWrapper{
	// margin-top:30px;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	.gameSettingsWrapper{
		 width: 100%;
		 display: flex;
		 align-items: center;
		 border-bottom: 1px solid #ddd;
		 &:last-child{
		 	 border: none;
		 }
		 .leftWrapper{
		 	 border-radius: 10px;
		 	 text-align:center;
		 	 .settingMediaWrapper{
		 	 	width: 60px;
		 	 	height: 50px;
		 	 }
		 }
		 .rightWapper{
		 	 flex: 1;
		 	 padding:15px;
		 	 .mediaTextWrapper{
		 	 	 font-size: 13px;
		 	 }
		 }
	}
}

.FormSubmissionErrorLayoutWrapper{
   position: fixed;
	z-index: 99999 !important;
	width: 100%;
	height:100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.6);
	.errorFormWrapper{
		background: #fff;
		width: 60%;
		margin:auto;
		padding: 30px;
		border-radius: 10px;
	}
}

.resourcePropertiesModalWrapper{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 99999 !important;
	display: flex;
	align-items:center;
	.handleResourcePropertiesWrapper{
		width: 80%;
		background: #fff !important;
		margin: auto;
		border-radius: 5px;
		// box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		border: 1px solid #ccc;
		.headerWrapper{
			display: flex;
			align-items: center;
		}
		.propertiesInnerWrapper{
			border-top:1px solid #ccc;
			padding: 20px;
		}
	}
}