.subjectWrapper{
	padding: 50px 0;
	border-bottom:1px solid #ccc;
	.subjectsListWrapper{
		list-style-type: none;
		padding:0;
		margin:0;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		.subjectCardWrapper{
			border:1px solid #ccc;
			width:200px;
			padding:10px;
			border-radius:10px;
			background:#fff;
		}
	}
}

.syllabusWrapper{
	.syllabusLayoutWapper{
		display: flex;
		align-items: top;
		width:100%;
	    .syllabusLayoutLeftWrapper{
	    	height: 100vh;
	    	width: 240px;
	    	position: fixed;
	    	background: #fff;
	    	padding:40px 0;
	    	.headerWrapper{
	    		padding:10px;
	    	}
	    	.topicWrapper{
	    		padding: 0 10px;
	    		margin-bottom: 5px;
	    	}
	    	.topicsListWrapper{
	    		list-style-type: none;
	    		padding:0;
	    		margin:0;
	    		li{
	    			a{
	    				border-top:1px solid #ccc;
	    				padding:8px 10px;
	    				display: block;
	    				color:#000;
	    			}
	    			&:hover{
	    				background: #eee;
	    			}
	    		}
	    		.activeLink{
	    			a{
	    				background: #eee;
	    			}
	    		}
	    	}
	    }
	    .syllabusLayoutRightWrapper{
	    	padding: 40px 30px;
	    	margin-left: 240px;
	    	width: 100%;
	    	.topicWrapper{
	    		.topicHeader{
	    			margin-top:10px;
	    			margin-bottom:20px;
	    		}
	    		.subtopicWrapper{
	    			border: 1px solid #eee;
	    			background: #f8f8f8;
	    			padding:30px;
	    			margin-top:40px;
	    			border-radius: 10px;
	    			.subtopicHeaderWrapper{
	    				display: flex;
	    				align-items: top;
	    				.addButtonWrapper{
	    					width: 90px;
	    					text-align: right;
	    				}
	    				.conceptHeaderWapper{
	    					font-size: 12px;
	    					border-left:5px solid #ccc;
	    					padding-left: 10px;
	    				}
	    			}
	    		}
	    	}
	    }
    }
}


.gamesAndLearningWrapper{
	margin-top:10px;
   .gamesAndLearningListWrapper{
   	  overflow-x: auto;
   	  .gamesLearningCard{
	   	  	width:150px;
	   	  	position: relative;
	   	  	margin-right:20px;
	   	  	margin-bottom:30px;
	   	  	display: inline-block;
	   	  	vertical-align:top;
	   	  	.cardHeaderWrapper{
	   	  		position: absolute;
	   	  		background: #fff;
	   	  		z-index: 9;
	   	  		padding:5px;
	   	  		display: none;
	   	  		input{
	   	  			padding:0px;
	   	  			margin:0px !important;
	   	  			cursor: pointer;
	   	  		}
	   	  	}
	   	  	.cardHeaderWrapper.activeMode{
	   	  		display: block;
	   	  	}
	   	  	.cardButtonWrapper{
	   	  		display: block;
	   	  		color: #222;
	   	  		text-transform: capitalize;
	   	  	}
	   	  	.cardPhotoWrapper{
	   	  		// box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	   	  		padding: 5px;
	   	  		img{
	   	  		   max-width: 100%;
	   	  		   max-height: 70px;
	   	  		   border-radius:5px;
	   	  		}
	   	  	}
	   	  	.cardDescriptionWrapper{
	   	  		padding:5px;
	   	  	}
	   	  	&:hover{
	   	  		.cardHeaderWrapper{
	   	  			display: block;
	   	  		}
	   	  	}
   	  }
   }
}