.featuresCardsWrapper{
    padding:0px;
    margin:10px 0px 50px;
    .featuresCard{
      display: inline-block;
      width: 185px;
      height: 130px;
      margin-bottom: 10px;
      border-radius: 5px;
      text-align: center;
      padding: 10px;
      vertical-align: top;
      transition: all 0.3s ease;
      margin:3px;
      color:#eee;
      font-weight: boloder;
      cursor: pointer;
    }
}

@media screen and (max-width: 480px){
   .featuresCardsWrapper{
       text-align: center;
       .featuresCard{
          width: 46%;
          height: 120px;
       }
   }
}