.authFormWrapper{
	min-height: 550px;
	background: #fff;
	border-radius:5px;
	padding: 30px 10px 40px;
    border-radius: 10px;
	position:relative;
	width:100%;
	.separatorContainer {
	    width: 100%!important;
	    border-top: 1px solid #ccc!important;
	    height: 0!important;
	    text-align: center!important;
	    display: inline-block!important;
	    margin-top: 60px;
	    margin-bottom: 20px;
	    .innerSeparator {
		    display: inline-block!important;
		    letter-spacing: 2px!important;
		    font-size: 12px!important;
		    padding: 0 14px!important;
		    background-color: #fff!important;
		    position: relative!important;
		    color: #000;
		    line-height: 12px!important;
		    top: -12px!important;
		    text-transform: uppercase;
		    font-weight: bolder;
		}
	}
	.authActionButton{ width:100%; }

	.googleButton{
		border:1px solid !important;
		box-shadow:none !important;
		width:100% !important;
		justify-content:center !important;
		font-weight: bolder !important;
		color: #000 !important;
		border-radius:5px !important;
	}
	.authNavinkWrapper{
		padding:10px 0;
	}
	.registerFormNextButtonWrapper{
		margin-top:20px;
		display:flex;
		justify-content:right;
	}
	.errorContainer{
		margin-top:20px;
		display:flex;
		justify-content:center;
		align-items: center;
	}
	.registerFormButtonWrapper{
			border-top:1px solid #ccc;
			position:absolute;
			bottom:0;
			width:93%;
			min-height: 60px;
	}
	.sdAccountFormWrapper,
	.sdSingleLoginFormWrapper{
			display: none;
			transition: .9s ease-in-out .3s;
	}
	.sdAccountsWrapper{
		.buttonListWrapper{
			 width:100%;
			 text-align:left !important;
			 justify-content:left !important;
			 text-transform: capitalize !important;
			 border-top:1px solid #ccc;
			 color:#000;
		}
	}

}

.completePageWrapper{
	padding:50px 20px;
	width:80%;
	margin:auto;
}

@media screen and (max-width: 765px){
	.completePageWrapper{
		width:100%;
	}
}


