.userInfoContainer{
	padding:20px 10px 5px;
}
.drawerLogoutButtonContainer{
	 position: absolute;
	 bottom: 0;
	 width:100%;
	 .listIcon{
			color:#999 !important;
			min-width:20px !important;
			border:1px solid;
			height:40px;
			width:40px;
			border-radius:40px;
			text-align:center !important;
			margin-right:10px;
			svg{
					margin:9px auto 0 !important;
					color: #999;
					font-size: 18px;
			}
	}
}
.drawerMenuContainer{
	.listIcon{
		color:#999 !important;
		min-width:20px !important;
		border:1px solid;
		height:40px;
		width:40px;
		border-radius:40px;
		text-align:center !important;
		margin-right:10px;
		svg{
				margin:9px auto 0 !important;
				color: #999;
				font-size: 18px;
		}
	}
}