.footerWrapper {
  width: 100%;
  padding: 100px 0;
  background: #2f2f2f;
  .footerInnerWrapper {
    display: flex;
    .menuList {
      width: 220px;
      color: #ccc;
      /*border-right:1px solid #2f1f2f;*/
      padding: 20px;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 10px 0px;
        li {
          a {
            font-size: 15px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      &:last-child {
        border: none;
      }
    }
  }
}

.socialMediaWrapper {
  margin-bottom: 30px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.15);
  text-align: center;
  padding: 40px 0 0;
  color: #bbb;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      width: 100px;
      text-align: center;
    }
  }
}

.downloadWrapper {
  .imgLink {
    cursor: pointer;
  }
}

@media (max-width: 620px) {
  .footerWrapper {
    height: auto;
    .footerInnerWrapper {
      display: block;
      .menuList {
        border: none;
        width: 100%;
      }
    }
    .downloadWrapper {
      img {
        width: 150px;
      }
    }
  }
}
