
.container{
    width:150px;
    height: 120px;
    border-radius:10px;
    background-color:lightgrey;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    cursor: pointer;
    margin: 2% 0 0 2%;
}

.containerFont{
    width:320px;
    height:120px;
    border-radius:10px;
    margin: 2% 0 0 2%;
    background-color:lightgrey;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    cursor: pointer;
}
.containerActive{
    width:150px;
    height:120px;
    border-radius:10px;
    margin: 2% 0 0 2%;
    background-color:#871617;
    display:flex;
    align-items:center;
    justify-content:center;
    border:solid 2px #871617;
    cursor: pointer;
    flex-direction: column;
    color: white;
    cursor: pointer;
}
.container:hover{
    width:150px;
    height:120px;
    border-radius:10px;
    margin: 2% 0 0 2%;
    background-color:#871617;
    display:flex;
    align-items:center;
    justify-content:center;
    border:solid 2px #871617;
    cursor: pointer;
    flex-direction: column;
    color: white;
}

@media (min-width:765px){
    .outerContainerMenu{
        background-color:whitesmoke;
        width:550px !important;
        height:95%;
        margin-left:2%;
        margin-top:1%;
        border-radius:10px;
        contain:content;
        overflow-y:scroll;
        align-items: center;
        box-shadow: 1px 2px 4px -2px black;
    }
}

@media (max-width:764px) and (min-width:650px){
    .outerContainerMenu{
        background-color:whitesmoke;
        width:550px;
        height:95%;
        // margin-left:2%;
        // margin-top:1%;
        border-radius:10px;
        contain:content;
        overflow-y:scroll;
        align-items: center;
        margin:1%  auto 0 auto;
        box-shadow: 1px 2px 2px -2px black;
    } 
}

@media (max-width:649px) and (min-width:5px){
    .outerContainerMenu{
        background-color:whitesmoke;
        width:90%;
        height:95%;
        // margin-left:2%;
        // margin-top:1%;
        border-radius:10px;
        contain:content;
        overflow-y:scroll;
        align-items: center;
        margin:1%  auto 0 auto;
        box-shadow: 1px 2px 2px -2px black;
    } 
}

@media (max-width:604px){
    .contentsContainer{
        display: flex;
        justify-content: center;
    }
}

.dropDownMenu{
    width:210px;
    height:200px;
    background-color:black;
    border-radius:10px;
    align-items: center;
    margin-top:20%;
    margin-left:12.5%;
    display:flex;
    flex-direction:column;
    contain: content;
    overflow-y:auto;
    position:absolute;
    z-index: 999999999999999;
}
