@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('http://fonts.cdnfonts.com/css/chalkboard-se');
            
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f0f2f5 !important;
}

.notesContainerPage{
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  background-color:#fff;
}

:root{
    --sd-default-bg-color:#871619;
    --sd-primary-default-bg-color:#7133a1;
    --sd-font-family: 'Roboto', sans-serif;
    --sd-aside-menu-width: 350px;
    --sd-default-font-size:16px;
    --grey-bg-color: #f0f2f5;
    --white-bg-color: #fff;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--sd-font-family) !important;
  font-size: var(--sd-default-font-size);
  background: #f0f2f5 !important;
}
a {
  color: inherit;
  text-decoration: none;
}
*{
  box-sizing: border-box;
}
.white-bg-color{
  background-color: var(--white-bg-color)
}
.sd-wrapper{
   max-width:90%;
}
.sd-flex{
  display: flex;
  align-items:center;
}
._sd-flex{
  display: flex;
  align-items:top;
   
}
.sd-flex-column{ flex:1; }
.box-shadow{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.mt-10{ margin-top:10px; }
.mt-20{ margin-top:20px; }
.mb-20{ margin-bottom:20px; }
.mb-10{ margin-bottom:10px; }
.mt-30{ margin-top:30px; }
.mb-20{ margin-bottom:20px; }
.mb-30{ margin-bottom:30px; }
.mb-40{ margin-bottom:40px; }
.mt-40{ margin-top:40px; }
.mt-50{ margin-top:50px; }
.mt-50{ margin-top:50px; }
.p-20{ padding:20px;  }
.p-3{ padding:3px;  }
.p-5{ padding:5px;  }
.p-10{ padding:10px;  }
.load-bg-color{
    background:#ccc !important;
}
/*End: Default*/

/*Begin: overide header for basic layout*/
.basic-layout.transparent-header{
  .MuiAppBar-positionFixed{
      background:transparent !important;
      padding:20px 10px;
  }
}
/*End: overide header for basic layout*/

.cancel-button{
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    text-align:center;
}

/*Begin: Overide header for admin*/
.secondary-admin-header{
    .MuiAppBar-colorPrimary{
        background-color:var(--grey-bg-color) !important;
        box-shadow: none !important;
        border-bottom:1px solid #ccc;
        color:#000;
    }
    .MuiDrawer-paperAnchorDockedLeft{
      background-color:var(--sd-default-bg-color) !important;
    }
}

.primary-admin-header{
    .MuiAppBar-colorPrimary{
        background-color:var(--grey-bg-color) !important;
        box-shadow: none !important;
        border-bottom:1px solid #ccc;
        color:#000;
    }
    .MuiDrawer-paperAnchorDockedLeft{
      background-color:var(--sd-primary-default-bg-color) !important;
    }
}

@media (max-width:  600px) {
    .secondary-admin-header{
      .MuiAppBar-colorPrimary{
          background-color:var(--sd-default-bg-color) !important;
          color:#fff;
        .header-textcolor{
            color: var(--white-bg-color) !important;
        }
      }
    }
    .primary-admin-header{
      .MuiAppBar-colorPrimary{
          background-color:var(--sd-primary-default-bg-color) !important;
          color:#fff;
        .header-textcolor{
            color: var(--white-bg-color) !important;
        }
      }
    }
    .MuiPaper-root{
        background-color:var(--sd-default-bg-color) !important;
        .header-textcolor{
          color: var(--white-bg-color) !important;
        }
    }
    .right-drawer-wrapper{
       .MuiPaper-root{
          background: #fff !important;
       }
    }
}
/*End: Overide header for admin*/

/*Begin: Subject background color*/
.Physics,
.PhysicsKenya{
    background-color: #782121;
}
.GirlsLeadership{
   background-color: #207D3D;
}
.Literature{
   background-color: #666943;
}
.Geography,
.GeographyKenya{
    background-color: #006680;
}
.InformationandComputerStudies{
  background-color:#2C0D1D;
}
.Mathematics,
.MathematicsKenya{
    background-color: #241C1C;
}
.Biology,
.BiologyKenya{
    background-color: #AAD400;
}
.Chemistry,
.ChemistryKenya{
    background-color: #7F3E98;
}
.English,
.EnglishKenya{
    background-color: #0055D4;
}
.Civics,
.CivicsKenya{
    background-color: #EED81A;
}
.Kiswahili,
.KiswahiliKenya{
    background-color: #13A89E;
}
.History,
.HiistoryKenya{
    background-color: #A48E68;
}
.LifeSkills,
.LifeSkillsKenya{
    background-color: #c48655;
}
.Commerce,
.CommerceKenya{
    background-color: #d82f4f;
}
.Bookkeeping,
.BokkeepingKenya{
    background-color: #ff642f;
}
.blueColor{
  background-color:#1b1464;
}
.oceanColor{
  background-color:#29abe2;
}
.greenColor{
  background-color:#0a8f3b;
}
.purpleColor{
  background-color:#7e4195;
}
.reddishColor{
  background-color:#c1272d;
}
.semiPurpleColor{
  background-color:#9e005d;
}
.whiteColor{
  background-color:#fff;
}
/*End: Subject background color*/

$sizes: 1s, 2s, 3s, 4s,5s,6s,7s,8s,9s,10s,11s,12s,13s,14s,15s,16s;

@each $size in $sizes {
  .bounce-in-fwd-#{$size} {
    animation:bounce-in-fwd $size both
  }
}

/*Beign:  Animista Class*/
.scale-in-center_{animation:scale-in-center 2s cubic-bezier(.25,.46,.45,.94) both}
.scale-in-center{animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both}
.bounce-in-fwd{animation:bounce-in-fwd 1.1s both}
.scale-in-ver-center{animation:scale-in-ver-center .5s cubic-bezier(.25,.46,.45,.94) both}
.slide-in-right{animation:slide-in-right .2s cubic-bezier(.25,.46,.45,.94) both}
.fade-out-fwd{animation:fade-out-fwd .7s cubic-bezier(.25,.46,.45,.94) both}
/*End:  Aminista*/


/*Begin: Animista Frames*/

@keyframes scale-in-center_{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}
@keyframes bounce-in-fwd{0%{transform:scale(0);animation-timing-function:ease-in;opacity:0}38%{transform:scale(1);animation-timing-function:ease-out;opacity:1}55%{transform:scale(.7);animation-timing-function:ease-in}72%{transform:scale(1);animation-timing-function:ease-out}81%{transform:scale(.84);animation-timing-function:ease-in}89%{transform:scale(1);animation-timing-function:ease-out}95%{transform:scale(.95);animation-timing-function:ease-in}100%{transform:scale(1);animation-timing-function:ease-out}}
@keyframes scale-in-ver-center{0%{transform:scaleY(0);opacity:1}100%{transform:scaleY(1);opacity:1}}
@keyframes slide-in-right{0%{transform:translateX(1000px);opacity:0}100%{transform:translateX(0);opacity:1}}
@keyframes fade-out-fwd{0%{transform:translateZ(0);opacity:1}100%{transform:translateZ(80px);opacity:0}}
@keyframes bounce-in-fwd{0%{transform:scale(0);animation-timing-function:ease-in;opacity:0}38%{transform:scale(1);animation-timing-function:ease-out;opacity:1}55%{transform:scale(.7);animation-timing-function:ease-in}72%{transform:scale(1);animation-timing-function:ease-out}81%{transform:scale(.84);animation-timing-function:ease-in}89%{transform:scale(1);animation-timing-function:ease-out}95%{transform:scale(.95);animation-timing-function:ease-in}100%{transform:scale(1);animation-timing-function:ease-out}}

/*End:  Animista Frames*/




/* ---- animation css*/



/* ends here animations*/
