.mainContainer{
    height:130vh;
    margin-top:-60px !important;
    position: relative;
    padding:0px;
    overflow:hidden;
    .carouselWrapper{
        padding:0px;
        position:relative;
        margin-top:180px;
        color:#fff;
        .minTitleContainer{
            margin-top:50px;
        }
        .moreArrowWrapper{
            margin-top:50px;
            text-align:center;
            .arrowButton{
                border:1px solid #fff;
                margin:auto;
                width:60px;
                height:60px;
                border-radius:60px;
                color:#fff;
                font-size:40px !important;
            }
        }
        .cardContainer{
            position: relative;
            display: inline-block;
            width: 163px;
            height: 95px;
            margin-left:1px;
            margin-top: 1px;
            margin-right: 0px !important;
            text-align: center;
            overflow: hidden;
            vertical-align: top;
            .cardFront,
            .cardBack{
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px;
                width: 163px;
                height: 95px;
                border-radius: 2px;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transition: -webkit-transform 0.6s;
                transition: transform 0.6s;
                .subjectName{
                    font-size:16px !important;
                }
            }
            .cardFront{
                .subjectImageContainer{
                    img{
                         width:50px;
                    }
                }
            }
            .cardBack {
                    -webkit-transform: rotateY(-180deg);
                    transform: rotateY(-180deg);
                    ul{
                        list-style-type: none;
                        padding:0 10px !important;
                        margin: 0px !important;
                        li{
                            display: inline-block;
                            margin-left: 5px;
                            a{
                                display: block;
                                padding:0px;
                                color:#fff !important;
                                font-size:14px !important;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }

                        }
                    }
            }
        }
        .cardContainer.effectHover:hover .cardFront {
            -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
        }
        .cardContainer.effectHover:hover .cardBack {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
        }
       
    }
}

@media (max-width: 920px) {
    .mainContainer{
        min-height: 200vh;
    }
}

@media (max-width: 480px) {
     .mainContainer{
        .carouselWrapper{
            text-align:center;
            width:100%;
            margin-top:130px;
            .cardContainer{
                width:50%;
                margin-top:3px;
                margin-left: 0px;
                height: 100px;
                    .cardFront,
                    .cardBack{
                        width:98%;
                        height: 100px;
                    }
         }
        }
     }
    
}